<%- include('component/header'); %>

<%- include('component/nav'); %>
<div class="content-wrap">
    <%- include('component/playerbar'); %>
    <%- include('main'); %>
</div>
<%- include('component/footer'); %>